<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shorty</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="shortcut icon" href="images/icons8-url-100.png" type="image/x-icon">

</head>

<body class="h-[100vh] w-[100vw]">

  <div class="h-[100vh] w-[100vw] flex justify-center items-center flex-col">

    <form id="shortenForm" class="flex flex-col">

      <div class="styled-input shadow">
        <input type="text" required id="urlInput" name="url" class="w-[40vw]" />
        <label>URL</label>
        <span></span>
      </div>

      <div class="flex justify-center">
        <input type="button" required value="Shorten" onclick="shortenUrl()" class="bg-green-500 w-fit shadow hover:shadow-black hover:shadow-md" />
        <span></span>
      </div>

    </form>

    <!-- Display shortID here -->

    <div id="shortIdDisplay" class="mt-3 text-lg" style="display: none;">
      <p>Shortend URL : <a id="shortId"></a></p>
    </div>

  </div>

  <script>
    async function shortenUrl() {
      const urlInput = document.getElementById('urlInput').value;

      // Make a POST request to the '/url' endpoint
      const response = await fetch('/url', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ url: urlInput }),
      });

      if (response.ok) {
        const data = await response.json();
        const shortId = data.id;

        // Display the shortID
        document.getElementById('shortId').innerText = window.location.href+shortId;
        document.getElementById('shortIdDisplay').style.display = 'block';
        document.getElementById('shortId').setAttribute('href',window.location.href+shortId);
      } else {
        // Handle error appropriately
        console.error('Error:', response.statusText);
      }
    }
  </script>
</body>

</html>